/* This file is for your main application css. */

@import "./phoenix.css";
@import "~milligram/dist/milligram";

.center-text {
    text-align: center;
}

.channel-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
