@import './app.css';

:root {
    --height: 80px;
    --width: 80px;
}

body {
    overflow: hidden;
    transition: 1s linear ease-out;
}

.main-row {
    height: 98vh;
}
.tile-red, .tile-white {
    background: rgb(139, 1, 1);
    height: var(--height);
    width: var(--width);
    margin: 0;
    transition: 1s linear ease-out;
}

.tile-white {
    background: white;
}

.tile-highlighted {
    background: #FFFACD;
    height: var(--height);
    width: var(--width);
    border: solid 5px rgb(139, 1, 1);
    margin: 0;
    cursor: pointer;
    transition: 1s linear ease-out;
}

.board {
    padding: 0;
    width: 640px;
    margin: 15px 50px;
    outline: 5px solid black;
    text-align: center;
}

.action-row {
    position :absolute;
    bottom: 0;
    width: 50%;
    margin-bottom: 2px;
    text-align: center;
}

.board-row {
    height: var(--height);
    width: 640px;
}
.board-col {
    display: inline-block;
}

.chat-room {
    height: 100%;
    border-left: 5px solid rgb(175, 51, 175);
}

.chat-input, .chat-btn {
    display: inline !important;
}

.chat-row {
    position: absolute;
    bottom: 0%;
    width: 49%;
    text-align: center;
}

.chat-input {
    width: 35vw !important;
}

input[type="text"] {
    background-color: white;
}

.chat-btn {
    margin-left: 10px;
}

.messages {
    position: absolute;
    overflow-y: scroll;
    height: 90%;
}

.message {
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message-text {
    display: inline-block;
    background: #eeeeee;
    border-radius: 20px;
    padding: 5px 10px;
}

.message-user {
    color: purple;
}
.black-disk, .white-disk {
    background: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.white-disk {
    background: #aaaaaa;
}

.black-disk-king {
    background: black;
    height: 50px;
    width: 50px;
    border: 3px solid #aaaaaa;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.white-disk-king {
    background: #aaaaaa;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}